/* Book 1 styles */
.b1{
    background-color: aqua;
    height: 75px;
    width: 150px;
    border-radius: 20px;
    text-align-last: center;
    align-content: center;
}
.b2{
    background-color: bisque;
    height: 100px;
    width: 250px;
    border-radius: 15px;
    text-align-last: center;
    align-content: center;
}
.b3{
    background-color: yellow;
    height: 125px;
    width: 190px;
    border-radius: 15px;
    text-align-last: center;
    align-content: center;
}

section{
    display: flex;
    align-items: center;
}