/* Book 1 styles */
.b1{
    background-color: aqua;
    height: 75px;
    width: 150px;
    border-radius: 20px;
    text-align-last: center;
    align-content: center;
}
.b2{
    background-color: bisque;
    height: 100px;
    width: 250px;
    border-radius: 15px;
    text-align-last: center;
    align-content: center;
}
.b3{
    background-color: yellow;
    height: 125px;
    width: 190px;
    border-radius: 15px;
    text-align-last: center;
    align-content: center;
}

section{
    display: flex;
    align-items: center;
}

#nana{
    /* Valeurs globales */
    transform: inherit;
    text-align-last: center;
    align-content: center;
    background-color: aquamarine;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    border: solid red;
}
@keyframes descente{
    from{margin-top: 50px;}
    to{margin-top: 200px;}
}
#mama{
    text-align-last: center;
    align-content: center;
    background-color: red;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    border: solid black;
    animation: descente 5s;
}